In [2]:
#import modules
import os
import csv
import pandas as pd

In [4]:
# Make a reference to the books.csv file path
csv_path = "Py_Poll_data.csv"

# Import the polls file
polls_df = pd.read_csv(csv_path)

polls_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [6]:
#set variables
vote_cast = 0
candidate = []
unique_candidate = []
candidate_vote =0

In [16]:
votes = polls_df["Voter ID"].count()
votes

3521001

In [22]:
unique_candidate = polls_df["Candidate"].unique()
unique_candidate

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [23]:
candidate_count =polls_df["Candidate"].value_counts()
candidate_count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

NameError: name 'vote_results' is not defined