In [2]:
#import modules
import os
import csv
import pandas as pd

In [4]:
# Make a reference to the books.csv file path
csv_path = "Py_Poll_data.csv"

# Import the polls file
polls_df = pd.read_csv(csv_path)

polls_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
#set variables
vote_cast = 0
candidate = []
unique_candidate = []
candidate_vote =0

In [ ]:
#read in csv file

In [ ]:
    

print(f'Election Results')
print(f'-----------------------')
print(f'Total Votes: {vote_cast}')
print(f'-----------------------')
print(f'{(unique_candidate)}')